In [2]:
import pandas as pd
import seaborn as sns

In [3]:
#CSV読み込み
df = pd.read_csv("fit_topic.csv", sep=",")
df.columns = ["step", "topi1", "topic2", "topic2"]

In [4]:
df.head()

   step     topi1    topic2    topic2
0     1  0.000000  0.000000  0.992641
1     2  0.040706  0.096875  0.862419
2     3  0.627637  0.000000  0.368099
3     4  0.000000  0.740792  0.254757
4     5  0.000000  0.986514  0.000000

In [7]:
sns.get_dataset_names()

['anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'iris',
 'mpg',
 'planets',
 'tips',
 'titanic']

In [12]:
x = np.random.normal(size=100)
print(x)

[-0.72040053 -1.09911388 -0.48578807 -0.75347746  1.47186629  1.11864927
  0.32838081  0.41173203  1.25805139  0.98363148  0.05066797 -0.06667749
  0.3452786   0.14552066 -0.03765227  0.57072837  0.45407519  0.40339104
 -1.9128498  -0.17595429  0.29708357 -0.37837373  1.6266519   0.1887227
 -0.74858424  0.16245294 -0.38054832 -1.55419239 -0.09233811 -1.4080166
  0.78757847  0.87631292  0.04627733  0.77475259 -0.29357254  1.43930427
  0.88908372  0.98891348  0.26393172  0.86620418  0.71703974 -0.49049773
 -1.07806643  0.71379791  0.96839032  1.67362782 -0.15880734  2.12582546
  1.06797781 -0.33664068 -1.43996747 -0.45286376  0.5971518   0.25209983
 -1.55186005  0.66569283 -0.26336545  0.07485026  0.22810768 -0.69839825
  0.70243861 -0.87158674 -1.01564438  2.69718612  0.58190072  1.29568615
  0.17300878  2.30841215  0.38758646 -0.25494817  0.41981225  1.08449575
 -0.05145748 -1.00486907 -1.66314088  0.03083609  0.60374868 -0.18827924
  0.41216412  2.33114887  0.87659671  0.78845999  1.87999513 -0.01335893
 -0.70847041  1.67992749 -1.17727071 -0.06484827 -0.85492218  1.05941347
 -0.93525724  1.61250246  0.29010762  2.24924326 -0.71904016  0.70182012
  1.18823918 -0.04888473 -0.46464499 -0.19698692]